@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #f6d8ae;
  background: #2e4057;
}

.App {
  text-align: center;
}


.navbar {
  margin-top: 10px;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #da4167;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.content h1 {
  margin: 20px;
}

.home button, .game button {
  background: #da4167;
  color: #fff;
  margin-top: 20px;
  width: 150px;
  font-weight: bold;
  font-size: large;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.home button:active, .game button:active {
  border: 2px solid #8c2942;
  padding: 6px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.player {
  margin: 20px 0;
}

audio::-webkit-media-controls-panel {
  background-color: #56AEFF;
}

audio::-webkit-media-controls-timeline {
  background-color: #B1D4E0;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #8c2942;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

.choices {
  text-align: center;
}

.choices button {
  margin: 10px 30px;
}